<html>
<head>
	 <title>restaurant  page</title>
</head>
<body>
	<h1> <%= title %></h>
	<form  action="/restaurant/add_dish/"  method="post">
		<table border="0">
			<tr>
				<td><label >your restaurant  name</label>
				</td>
				<td><input type="text" name="restaurant name" id="restaurant name"></td>
			</tr>
			<tr>
				<td><label >password</label>
				</td>
				<td><input type="password" name="password"  id="password"></td>
			</tr>
			<tr>
				<td> <button type="submit">confirm</button> </td>
				<td> <button type="submit">cancel</button> </td>
			</tr>
		</table>
	</form>

	<form  action="/restaurant /restuarant_restaurant /"  method="post">
		<table border="0">
			<tr>
				<td><label >your license</label>
				</td>
				<td><input type="text" name="license" id="license"></td>
			</tr>
			<tr>
				<td><label >password</label>
				</td>
				<td><input type="password" name="password"  id="password"></td>
			</tr>
			<tr>
				<td> <button type="submit">confirm</button> </td>
				<td> <button type="submit">cancel</button></td>
			</tr>
		</table>
	</form>
</body>
</html>